<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="assignment.My.MySettings.PS02946ConnectionString"
            connectionString="Data Source=ADMINISTRATOR-P\SQLEXPRESS;Initial Catalog=PS02946;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
